.header {
	background-color: $header-color;
	// padding: 12px 0;
	height: 6rem;
	border-bottom: 3px solid $primary-dark-color;
	display: flex;
	align-items: center;

	&__logo {
		height: 3rem;
	}
}

.user-info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
